header{
    color:aquamarine;
    background-color: rgb(65, 9, 65);
    text-align: center;
}

main{
    background-color: darkgray;
    padding: 1em;
}
body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}
